{% extends 'base.html.twig' %}

{% block title %}Story index{% endblock %}

{% block body %}

    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h1>Toutes les histoires</h1>
            </div>
            <div class="col-12">
                <p>Vous trouverez ici toutes les histoires de notre site.</p>
            </div>
            <div class="col-12">
                <a href="{{ path('app_story_new') }}" class="btn btn-primary">Créer une nouvelle histoire</a>
            </div>
        </div>

        <div class="row mt-3">
            {% for story in stories %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ story.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ story.author.fullname }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ story.publishedAt ? story.publishedAt|date('d/m/Y à H:i') : '' }}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">{{ story.updatedAt ? story.updatedAt|date('d/m/Y à H:i') : '' }}</h6>
                            <p class="card-text">{{ story.description | raw }}</p>
                            <a href="{{ path('app_story_show', {'id': story.id}) }}" class="card-link">Show</a>
                            <a href="{{ path('app_story_edit', {'id': story.id}) }}" class="card-link">Edit</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">No stories found</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
